*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  font-family: poppins, sans-serif;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
}

li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10rem;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2,
.input-h2 {
  font-size: 2.6rem;
  font-weight: 500;

  // max-width: ;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

h4,
.input-h4 {
  font-size: 1.8rem;
  font-weight: 400;
}

h5,
p,
.input-h5 {
  font-size: 1.6rem;
  font-weight: 400;
}

.input-h2,
.input-h4,
.input-h5 {
  border: none;
  outline: none;

  background-color: transparent;
  border-left: 3px solid green;

  padding-left: 1rem;
  cursor: pointer;
}

.editable {
  cursor: pointer;
}

.input-h2 {
  border-left: 4px solid green;

  padding-left: 2rem;
}

.cv-body {
  background-color: #dedede;
  border-radius: 6px;
  width: 70%;
  max-width: 120rem;
  padding: 3rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
}

.cv-header {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  min-width: 15rem;

  & input {
    width: 15rem;
    max-width: 100%;
  }
}

.education {
  margin-top: 2rem;
}

.btn {
  padding: 5px 10px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 4px;

  outline: none;
  color: #fff;
  cursor: pointer;
}

.btn--add {
  margin-top: 10px;
  border: 1px solid green;
  background-color: green;
}

.btn--save {
  border: 1px solid green;
  background-color: green;
}

.btn--cancel {
  border: 1px solid red;
  background-color: red;
}

.text-input {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid rgb(65, 65, 65);

  &:focus {
    outline: none;
    // border-bottom: 1px solid green;
  }

  &--small {
    width: 6rem;
  }

  &--large {
    width: 30rem;
  }
}

textarea {
  resize: none;
  height: 8rem;
}
